body,
html {
    font-family: 'Grape Nuts', cursive;
    margin: 0%;
    height: 100%;
    background: linear-gradient(#89f44b, #f4c74b); 
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 450px 100%;
}
h1{
    color: #f0edeb;
    text-align: center;
}
::-webkit-input-placeholder {
    text-align: center;
    color: #241f1d;
}
::-moz-placeholder {
    text-align: center;
    color: #241f1d;
}
:-moz-placeholder {
    text-align: center;
    color: #241f1d;
}

:-ms-input-placeholder {
    text-align: center;
    color: #241f1d;
}
section {
    max-width: 400px;
    height: 100%;
    margin: auto;
}

.linea:hover {
    background-color: rgba(240, 226, 28, 0.527);
}

.linea {
    position: relative;
    padding-left: 4px;
    box-sizing: border-box;
    font-size: 1.4em;
    color: #241f1d;
}

.linea img {
    position: absolute;
    right: 4px;
    top: 3px;
    cursor: pointer;
}

#operaciones {
    margin-top: 1%;
    border: 1px solid rgb(207, 211, 149);
    border-radius: 6px;
    height: calc(100% -122px);
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Grape Nuts', Arial, Helvetica, sans-serif;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.2);
}

#numero1{
    margin-top: 1%;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Arial';
    font-size: 1.4em;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
    color: rgb(8, 7, 8);
}
#numero2 {
    margin-top: 1%;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Arial';
    font-size: 1.4em;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
    color: rgb(10, 10, 10);
}

button {
    
    font-size: 1.7em;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    margin: 1% 0;
    cursor: pointer;
    background-color: rgb(10, 10, 10);
    color: rgb(253, 250, 250);
}